*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Lato', sans-serif;
}

li{
  list-style: none;
}

input[type="text"], .message-editor{
  outline: none;
  border: none;
}

i{
  color: #919191;
}

/* utilities */
.avatar{
  overflow: hidden;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.avatar > img{
  height: 100%;
}

.padding15{
  padding: 15px;
}

.input-text{
  background-color: #fff;
  border-radius: 25px;
  padding: 0 15px;
}

.font-size15{
  font-size: 15px;
}

.font-size13{
  font-size: 13px;
}

.hover-on-white:hover{
  background-color: #f5f5f5;
}
/* /utilities */

.wrapper{
  width: 100vw;
  height: 100vh;
  background-color: #D7DBD7;
  position: relative;
}

.wrapper:before{
  content: '';
  width: 100%;
  height: 127px;
  background-color: #009688;
  position: fixed;
}

.app-container{
  min-width: 950px;
  width: 80%;
  height: 94vh;
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  position: absolute;
  top: 3vh;
  left: 0;
  bottom:3vh;
  right: 0;
  z-index: 1;
  box-shadow: 0 1px 1px 0 #aaa, 0 2px 5px 0 #aaa;
}

.sidebar{
  width: 30%;
  height: 100%;
  overflow-y: auto;
  border-right: 1px solid #ebebeb;
}

.sidebar > :not(.chat-list){
  border-bottom: 1px solid #ebebeb;
}

.sidebar > nav, .main-interlecutor-details, .bottom-box{
  height: 60px;
  background-color: #EDEDED;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-box, .interlecutor-box{
  display: flex;
  align-items: center;
}

.user-image{
  height: 40px;
  width: 40px;
  margin-right: 5px;
}

.sidebar > nav > ul, .main-interlecutor-details > ul, .bottom-box > ul{
  display: flex;
  justify-content: space-around;
  width: 140px;
}

.sidebar > nav > ul > li > i, .main-interlecutor-details > ul > li > i{
  font-size: 19px;
}

.alert-box{
  background-color: #9DE1FE;
  cursor: pointer;
  display: flex;
}

.notification-icon{
  background-color: #fff;
  position: relative;
  margin-right: 15px;
}

.notification-icon > i{
  color: #9DE1FE;
  font-size: 22px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.alert-text{
  width: calc(100% - 65px);
}

.alert-box:hover > .alert-text > span{
  text-decoration: underline;
}

.searchbar{
  background-color: #F6F6F6;
  height: 50px;
  padding: 7.5px 0;
}

.searchbar > .input-text{
  width: 90%;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.searchbar > .input-text > input[type="text"]{
  width: 80%;
}

.chat-list{
  overflow-y: auto;
}

.chat-box{
  display: flex;
  height: 70px;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
}

.chat-box:not(:first-child){
  border-top: 1px solid #f2f2f2;
}

.chat-box.active{
  background-color: #EBEBEB;
}

.chat-details{
  width: calc(100% - 65px);
  margin-left: 15px;
}

.upper-line-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.upper-line-details > *{
  display: inline-block;
}

.last-message, .last-access, .last-message-time{
  color: #666;
  height: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.last-message-time{
  font-size: 12px;
}

main{
  width: 70%;
}

.main-interlecutor-details > ul{
  width: 90px;
}

.dialogue-box{
  height: calc(100% -  120px);
  overflow-y: auto;
  background-image: url(../img/mine.jpg);
  padding: 10px 0;
}

.text-line{
  padding: 0 6.5%;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}

.chat-baloon{
  max-width: 85%;
  border-radius: 7.5px;
  padding: 6px 7px 8px 9px;
  box-shadow: 0 1px .5px #aaa;
  position: relative;
}

.chat-baloon:after{
  content: '';
  display: table;
  clear: both;
}

.chat-baloon.sent{
  background-color: #DCF8C6;
  align-self: flex-end;
}

.chat-baloon.received{
  background-color: #fff;
  align-self: flex-start;
}

.chat-text{
  word-wrap: break-word;
}

.chat-text::after{
  content: '';
  display: inline-block;
  width: 100px;
}

.baloon-options-btn{
  position: absolute;
  top: 5px;
  right: 5px;
  display: none;
  cursor: pointer;
}

.chat-baloon:hover .baloon-options-btn{
  display: block;
}

.chat-baloon.sent > .baloon-options-btn{
  background-color: #DCF8C6;
}

.chat-baloon.received > .baloon-options-btn{
  background-color: #fff;
}

.aloon-options-btn:focus > .baloon-options{
  display: block;
}

.baloon-options{
  position: absolute;
  display: none;
  background-color: #fff;
  padding: 5px 0;
}

.baloon-options > ul > li{
  padding: 10px 15px;
}

.message-date{
  font-size: 10px;
  color: #999;
  float: right;
  margin: -10px 0 -5px 4px;
}

.bottom-box > ul > li > i{
  font-size: 23px;
}

.bottom-box > ul:first-child{
  width: 94px;
}

.bottom-box > .input-text{
 width: 100%;
 min-height: 40px;
 padding: 10px 15px;
}

.bottom-box > .input-text > input[type="text"],
.bottom-box > .input-text > .message-editor{
  width: 100%;
  font-size: 15px;
  min-height: 20px;
}

.bottom-box > ul:last-child{
  width: 44px;
}
